@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
    --yellow-color: #f4c36c;
    --green-color: #305349;
    --orange-color: #FFA500;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

.container-fluid {
    height: 100vh;
}

.dashboard {
    border-radius: 0 10px 10px 0;
    background-color: var(--white-color);
}

.dashboard .item-nav {
    padding: 0;
}

.dashboard .item-nav .item-list {
    list-style: none;
    padding: 15px 15px;
    margin: 15px 0;
    border-radius: 10px;
}

.dashboard .item-nav .item-list .item-link {
    font-size: 17px;
    color: var(--green-color);
    text-decoration: none;
}

.dashboard .item-nav .item-list .item-link i {
    font-size: 25px;
    margin: 5px 10px;
    padding-right: 15px;
}

.dashboard .item-nav1 .item-list1 {
    list-style: none;
    padding: 20px 10px;
    margin: 5px 0 0 0;
    border-radius: 10px;
}

.dashboard .item-nav1 .item-list1 .item-link1 {
    font-size: 17px;
    color: var(--green-color);
    text-decoration: none;
}

.dashboard .item-nav1 .item-list1 .item-link1 i {
    font-size: 25px;
    margin: 5px 10px 0px 10px;
}