<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Management Services</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link th:href="@{/css/admin-base.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin-services.css}" rel="stylesheet"/>
    <!-- Bootstrap CSS v5.2.1 -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous"/>
</head>

<body>
<div id="loader"></div>
<div class="container-fluid d-flex p-0">
    <div class="dashboard container-fluid p-0" style="width: 15%;">
        <ul class="item-nav">
            <li class="item-list text-center"><a href="/admin/"
                                                 class="item-link"> <img src="/image/logo-admin.png" alt=""
                                                                         class="img-fluid"/>
            </a></li>
            <li class="item-list"><a href="/admin/" class="item-link">
                <i class="fa fa-home" aria-hidden="true"></i> Trang chủ
            </a></li>
            <li class="item-list"><a href=""
                                     class="accordion-button collapsed item-link"
                                     data-bs-toggle="collapse"
                                     data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                     aria-controls="panelsStayOpen-collapseOne"> <i
                    class="fa fa-user" aria-hidden="true"></i> Quản lí tài khoản <i
                    class="fa fa-angle-down" aria-hidden="false"></i>
                <ul class="item-nav1 accordion-collapse collapse"
                    id="panelsStayOpen-collapseOne"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <li class="item-list1"><a href="/admin/users/getAllUsers" class="item-link1"><i
                            class="fa fa-male pe-1" aria-hidden="true"></i>Quản lí người
                        dùng</a></li>
                    <li class="item-list1"><a href="/admin/staff/getAllStaff" class="item-link1"><i
                            class="fa fa-universal-access pe-1" aria-hidden="true"></i>Quản
                        lí đối tác</a></li>
                </ul>
            </a></li>
            <li class="item-list"><a href=""
                                     class="accordion-button collapsed item-link"
                                     data-bs-toggle="collapse"
                                     data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                                     aria-controls="panelsStayOpen-collapseTwo"> <i
                    class="fa fa-sticky-note" aria-hidden="true"></i> Quản lí dịch vụ
                <i class="fa fa-angle-down" aria-hidden="false"></i>
                <ul class="item-nav1 accordion-collapse collapse show"
                    id="panelsStayOpen-collapseTwo"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <li class="item-list1" style="background-color: #305349"><a
                            href="/admin/services/getAllServices" class="item-link1 text-light"><i
                            class="fa fa-tasks pe-1" aria-hidden="true"></i>Quản lí dịch vụ</a></li>
                    <li class="item-list1"><a
                            href="/admin/categories/getAllCategories" class="item-link1"><i
                            class="fa fa-folder pe-1" aria-hidden="true"></i>Quản lí loại dịch vụ</a></li>
                </ul>
            </a></li>
            <li class="item-list"><a href=""
                                     class="accordion-button collapsed item-link"
                                     data-bs-toggle="collapse"
                                     data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                                     aria-controls="panelsStayOpen-collapseThree"> <i
                    class="fa fa-bar-chart" aria-hidden="true"></i> Thống kê <i
                    class="fa fa-angle-down" aria-hidden="false"></i>
                <ul class="item-nav1 accordion-collapse collapse"
                    id="panelsStayOpen-collapseThree"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <li class="item-list1"><a href="" class="item-link1"><i
                            class="fa fa-users pe-1" aria-hidden="true"></i>Thống kê tài
                        khoản</a></li>
                    <li class="item-list1"><a href="" class="item-link1"><i
                            class="fa fa-newspaper-o pe-1" aria-hidden="true"></i>Thống kê
                        dịch vụ</a></li>
                    <li class="item-list1"><a href="" class="item-link1"><i
                            class="fa fa-money pe-1" aria-hidden="true"></i>Thống kê doanh
                        thu</a></li>
                    <li class="item-list1"><a href="" class="item-link1"><i
                            class="fa fa-address-book pe-1" aria-hidden="true"></i>Thống kê
                        đơn đặt</a></li>
                </ul>
            </a></li>
            <li class="item-list"><a href="" class="item-link"> <i
                    class="fa fa-exclamation-triangle"></i> Báo cáo sự cố
            </a></li>
            <li class="item-list"><a href="" class="item-link"> <i
                    class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất
            </a></li>
        </ul>
    </div>
    <div class="view container-fluid ps-2 mx-1" style="width: 85%;background-color: #F2F1F9;">
        <div class="info py-1 mt-1 mb-2" style="background-color: #FFFFFF; border-radius: 10px">
            <form th:action="@{/admin/services/search}" method="post">
                <div class="search-input">
                    <div class="w-100 mx-3 my-2">
                        <div class="input-group">
                            <input type="text" class="form-control" name="keyword"
                                   placeholder="Nhập dịch vụ bạn muốn tìm.."/>
                            <button class="btn btn-primary" type="submit" formaction="/admin/services/search">
                                <i class="fa fa-search pe-2" aria-hidden="true"></i>Tìm kiếm
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="mx-3 my-2">
                <li><a href=""> <i class="fa fa-user-circle"
                                   aria-hidden="true"></i>
                </a></li>
                <li><a href=""> <i class="fa fa-cog" aria-hidden="true"></i>
                </a></li>
                <li><a href=""> <i class="fa fa-bell" aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>
        <form th:action="@{/admin/services/services}" method="post" enctype="multipart/form-data"
              th:object="${servicesEdit}" class="form d-flex" style="margin: 0 auto;">
            <div class="tables p-3" style="width: 69%; background-color: #FFFFFF; border-radius: 10px">
                <h3 class="py-2" style="color: #878A99">Danh sách các dịch vụ</h3>
                <table class="table">
                    <tr style="background-color: #E8E8E8; border-radius: 10px;">
                        <th scope="col" hidden="">Mã</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Loại</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Ngày chỉnh sửa</th>
                        <th></th>
                    </tr>
                    <tbody>
                    <tr th:each="services : ${listService}">
                        <th hidden="hidden">[(${services.id_services})]</th>
                        <td>[(${services.name})]</td>
                        <td>[(${services.categories.name})]</td>
                        <td>[(${services.prices})]</td>
                        <td th:class="${#strings.length(services.descriptions) > 1} ? 'overflow-hidden'">
                            [(${services.descriptions})]
                        </td>
                        <td>[(${services.date_cre})]</td>
                        <td>[(${services.date_update})]</td>
                        <td><a
                                th:href="@{'/admin/services/edit/' + ${services.id_services}}"
                                role="button"> <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a> <a
                                th:href="@{'/admin/services/delete/' + ${services.id_services}}"
                                role="button"> <i class="fa fa-trash" aria-hidden="true"></i>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="buttons_ text-center">
                    <nav aria-label="Page navigation example">
					<span th:text="${currentPage}+' of '+${totalPage}"
                          style="font-size: 18px"></span>
                        <ul class="pagination">
                            <li class="page-item" th:if="${currentPage > 1}"><a
                                    class="page-link" th:href="@{'?pageNo='+${firstPage}}"
                                    aria-label="Previous"> <span aria-hidden="true"> <i
                                    class="fa fa-angle-double-left" aria-hidden="true"></i>
							</span>
                            </a></li>
                            <li class="page-item" th:if="${currentPage > 1}"><a
                                    class="page-link" th:href="@{'?pageNo='+${currentPage - 1}}"
                                    aria-label="Previous"> <span aria-hidden="true"> <i
                                    class="fa fa-angle-left" aria-hidden="true"></i>
							</span>
                            </a></li>
                            <li class="page-item"
                                th:each="i:${#numbers.sequence(1,totalPage)}"
                                th:classappend="${currentPage == i ? 'active' : ''}"><a
                                    class="page-link" th:href="@{'?pageNo='+${i}}" th:text="${i}"></a></li>
                            <li class="page-item" th:if="${currentPage < totalPage}"><a
                                    class="page-link" th:href="@{'?pageNo='+${currentPage + 1}}"
                                    aria-label="Next"> <span aria-hidden="true"><i
                                    class="fa fa-angle-right" aria-hidden="true"></i></span>
                            </a></li>
                            <li class="page-item" th:if="${currentPage < totalPage}"><a
                                    class="page-link" th:href="@{'?pageNo='+${totalPage}}"
                                    aria-label="Next"> <span aria-hidden="true"><i
                                    class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="form p-4 me-0"
                 style="width: 30%; margin: 0 auto; background-color: #FFFFFF; border-radius: 10px">
                <div class="mb-3">
                    <h3 class="" style="color: #878A99">Form quản lí</h3>
                </div>
                <div class="mb-3" hidden>
                    <label class="form-label">Mã dịch vụ</label> <input type="text"
                                                                        th:field="*{id_services}" class="form-control"
                                                                        name="id" id="id"
                                                                        th:value="${servicesEdit?.id_services}"/>
                </div>
                <div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message}"></div>
                <div class="mb-3">
                    <label class="form-label">Tên dịch vụ</label>
                    <input type="text" th:field="*{name}" class="form-control" name="name"
                           placeholder="Vui lòng nhập tên dịch vụ..." th:value="${servicesEdit?.name}"/>
                </div>
                <p th:if="${#fields.hasErrors('name')}" class="alert alert-danger p-2"
                   th:errors="*{name} "></p>
                <div class="mb-3">
                    <label class="form-label">Loại dịch vụ</label>
                    <select class="form-select" th:field="*{categories.id_categories}" name="categories">
                        <option value="0">Chọn loại dịch vụ</option>
                        <option th:each="category : ${listCategory}" th:value="${category.id_categories}"
                                th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Giá</label>
                    <input type="number" class="form-control" th:field="*{prices}"
                           name="prices" id="prices"
                           placeholder="Vui lòng nhập giá...."
                           th:value="${servicesEdit?.prices}"/>
                </div>
                <!--                <div class="mb-3">-->
                <!--                    <label class="form-label">Hình ảnh</label>-->
                <!--                    <input type="file" class="form-control" th:field="*{image}"-->
                <!--                           name="image"-->
                <!--                           th:text="${servicesEdit?.image}"/>-->
                <!--                </div>-->
                <div class="mb-3">
                    <label class="form-label">Mô tả</label>
                    <textarea class="form-control" th:field="*{descriptions}"
                              name="descriptions"
                              placeholder="Vui lòng nhập mô tả...."
                              th:text="${servicesEdit?.descriptions}" style="height: 100px"></textarea>
                </div>
                <p th:if="${#fields.hasErrors('descriptions')}" class="alert alert-danger p-2"
                   th:errors="*{descriptions} "></p>
                <div class="mb-3">
                    <label class="form-label">Ngày tạo (mm/dd/yyyy)</label> <input
                        class="form-control" name="date_cre"
                        th:field="*{date_cre}"
                        th:value="${servicesEdit?.date_cre}" type="date"/>
                </div>
                <p th:if="${#fields.hasErrors('date_cre')}" class="alert alert-danger p-2"
                   th:errors="*{date_cre} "></p>
                <div class="mb-3">
                    <label class="form-label">Ngày chỉnh sửa (mm/dd/yyyy)</label>
                    <input class="form-control" name="date_update"
                           th:field="*{date_update}"
                           th:value="${servicesEdit?.date_update}" type="date" readonly/>
                </div>
                <div class="button-group mt-5 text-center">
                    <button class="btn" formaction="/admin/services/add">
                        <i class="fa fa-plus pe-3" aria-hidden="true" id="add"></i>Thêm
                    </button>
                    <button class="btn" formaction="/admin/services/update">
                        <i class="fa fa-wrench pe-3" aria-hidden="true"></i>Cập nhật
                    </button>
                    <button class="btn" formaction="/admin/services/reset">
                        <i class="fa fa-refresh pe-3" aria-hidden="true"></i>Làm mới
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/servicesAdmin.js}"></script>

<!-- Bootstrap JavaScript Libraries -->
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
</body>
</html>
