<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Overview</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
	integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link th:href="@{/css/admin-base.css}" rel="stylesheet" />
<link th:href="@{/css/admin-services.css}" rel="stylesheet" />
<!-- Bootstrap CSS v5.2.1 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous" />
</head>

<body>
	<div class="container-fluid d-flex">
		<div class="dashboard container-fluid px-3 w-25">
			<ul class="item-nav">
				<li class="item-list text-center"><a
					href="/admin/services/getAllServices" class="item-link"> <img
						src="/image/logo-admin.png" alt="" class="img-fluid" />
				</a></li>
				<li class="item-list"><a href="" class="item-link"> <i
						class="fa fa-home" aria-hidden="true"></i> Trang chủ
				</a></li>
				<li class="item-list"><a href=""
					class="accordion-button collapsed item-link"
					data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
					aria-controls="panelsStayOpen-collapseThree"> <i
						class="fa fa-sticky-note" aria-hidden="true"></i> Quản lí tài
						khoản <i class="fa fa-angle-down" aria-hidden="false"></i>
						<ul class="item-nav1 accordion-collapse collapse"
							id="panelsStayOpen-collapseThree"
							aria-labelledby="panelsStayOpen-headingThree">
							<li class="item-list1"><a href="" class="item-link1">Quản
									lí người dùng</a></li>
							<li class="item-list1"><a href="" class="item-link1">Quản
									lí đối tác</a></li>
						</ul>
				</a></li>
				<li class="item-list"><a href=""
					class="accordion-button collapsed item-link"
					data-bs-toggle="collapse"
					data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
					aria-controls="panelsStayOpen-collapseThree"> <i
						class="fa fa-sticky-note" aria-hidden="true"></i> Quản lí dịch vụ
						<i class="fa fa-angle-down" aria-hidden="false"></i>
						<ul class="item-nav1 accordion-collapse collapse show"
							id="panelsStayOpen-collapseThree"
							aria-labelledby="panelsStayOpen-headingThree">
							<li class="item-list1" style="background-color: #305349"><a
								href="" class="item-link1 text-light">Quản lí các loại dịch
									vụ</a></li>
							<li class="item-list1"><a href="" class="item-link1">Quản
									lí những dịch vụ đặc thù</a></li>
						</ul>
				</a></li>
				<li class="item-list"><a href="" class="item-link"> <i
						class="fa fa-bar-chart" aria-hidden="true"></i> Thống kê
				</a></li>
				<li class="item-list"><a href="" class="item-link"> <i
						class="fa fa-exclamation-triangle" aria-hidden="true"></i> Báo cáo
						sự cố
				</a></li>
			</ul>
		</div>
		<div class="view container-fluid px-5 mx-5 w-75">
			<div class="info">
				<div class="row text-light">akjjdhlkjajkfadskjjdalksdalsdhlas</div>
				<h2 class="mb-5">Quản lý dịch vụ</h2>
				<ul>
					<li><a href=""> <i class="fa fa-user-circle"
							aria-hidden="true"></i>
					</a></li>
					<li><a href=""> <i class="fa fa-cog" aria-hidden="true"></i>
					</a></li>
					<li><a href=""> <i class="fa fa-bell" aria-hidden="true"></i>
					</a></li>
				</ul>
			</div>
			<div class="search-input d-flex justify-content-end">
				<div class="mb-3 w-25">
					<div class="input-group mb-3">
						<span class="input-group-text bg-light" style="border-right: none"><i
							class="fa fa-search" aria-hidden="true"></i></span> <input type="text"
							style="border-left: none" class="form-control"
							placeholder="Vui lòng nhập dịch vụ bạn muốn tìm.." />
					</div>
				</div>
			</div>
			<form th:action="@{/admin/services/delete}" method="post"
				th:object="${servicesEdit}" class="w-75 form" style="margin: 0 auto">
				<div class="mb-3">
					<label class="form-label">Tên dịch vụ</label> <input type="text"
						name="name" class="form-control"
						placeholder="Vui lòng nhập tên dịch vụ..."
						th:value="${servicesEdit?.name}" />
				</div>
				<div class="mb-3">
					<label class="form-label">Giá dịch vụ</label> <input type="text"
						name="prices" class="form-control"
						placeholder="Vui lòng nhập giá của dịch vụ..."
						th:value="${servicesEdit?.prices}" />
				</div>
				<div class="mb-3">
					<label class="form-label">Mô tả</label> <input type="text"
						name="descriptions" class="form-control"
						placeholder="Vui lòng nhập mô tả cho dịch vụ..."
						th:value=${servicesEdit?.descriptions} />
				</div>
				<div class="mb-3">
					<label class="form-label"> </label> <select class="form-select"
						name="categories">
						<option value="1">Điện</option>
						<option value="2">Nước</option>
						<option value="3">Sửa chữa nhà</option>
						<option value="4">Gia dụng</option>
					</select>
				</div>
				<div class="button-group text-center">
					<button class="btn" formaction="/admin/services/add">Thêm</button>
					<button class="btn" formaction="/admin/services/update">Sửa</button>
					<button class="btn" formaction="/admin/services/reset">Làm mới</button>
				</div>
				<!-- <div class="message mt-5 text-center">
					<label style="border-radius: 5px; background-color: #0dcaf065"
						class="form-label m-2" th:text="${message}"></label>
				</div> -->
				<div class="tables pt-5">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Mã</th>
								<th scope="col">Tên</th>
								<th scope="col">Loại</th>
								<th scope="col">Giá</th>
								<th scope="col">Mô tả</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="services : ${listService}">
								<th scope="row">[(${services.id_services})]</th>
								<td>[(${services.name})]</td>
								<td>[(${services.categories.name})]</td>
								<td>[(${services.prices})]</td>
								<td>[(${services.descriptions})]</td>
								<td><a
									th:href="@{/admin/services/edit(id=${services.id_services})}"
									role="button"> <i class="fa fa-pencil" aria-hidden="true"></i>
								</a> <a
									th:href="@{'/admin/services/delete/' + ${services.id_services}}"
									role="button"> <i class="fa fa-trash" aria-hidden="true"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
			<div class="buttons_ text-center">
				<nav aria-label="Page navigation example">
					<span th:text="${currentPage}+' of '+${totalPage}"
						style="font-size: 18px"></span>
					<ul class="pagination">
						<li class="page-item" th:if="${currentPage > 1}"><a
							class="page-link" th:href="@{'?pageNo='+${currentPage-1}}"
							aria-label="Previous"> <span aria-hidden="true"><<</span>
						</a></li>
						<li class="page-item"
							th:each="i:${#numbers.sequence(1,totalPage)}"
							th:classappend="${currentPage == i ? 'active' : ''}"><a
							class="page-link" th:href="@{'?pageNo='+${i}}" th:text="${i}"></a></li>
						<li class="page-item" th:if="${currentPage < totalPage}"><a
							class="page-link" th:href="@{'?pageNo='+${currentPage + 1}}"
							aria-label="Next"> <span aria-hidden="true">>></span>
						</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<script src="/admin/js/services.js"></script>

	<!-- Bootstrap JavaScript Libraries -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous"></script>
</body>
</html>
